@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

#root {
  min-height: 100vh;
  font-family: "Poppins";
}

.posts > h2 {
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
}

.table {
  width: 85%;
  margin: auto;
  font-family: "Poppins";
  box-shadow: rgba(0, 0, 0, 0.21) 0px 10px 50px;
  border-radius: 11px;
  padding-top: 7px;
}

.post > .title,
.post > .body {
  text-transform: capitalize;
  white-space: wrap;
  text-align: justify;
}

.loading-text {
  text-align: center;
  font-family: "Poppins";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
}

.posts .upload-btn {
  position: absolute;
  top: 0;
  right: 10%;
}
