.upload {
  min-height: 100vh;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.upload > div {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 35%;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 10px 50px;
  padding: 1rem;
  border-radius: 11px;
}

.upload input {
  box-sizing: border-box;
}
